@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Amatic+SC&family=Caveat&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Nothing+You+Could+Do&family=Noto+Sans+Mono&family=Orbitron&family=Philosopher:ital@1&family=Press+Start+2P&family=Roboto:wght@400;700&family=Shadows+Into+Light&family=Silkscreen&family=Splash&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: 'Roboto' sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  background-color: skyblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(600%);
  transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-600%);
}
.box.show {
  transform: translateX(0);
}
.box h2 {
  font-size: 44px;
}
